/* Add CSS Styling */
.odd {
  background-color: pink;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
  color: #0000ff;
  font-size: 32px;
}

.odd.three {
  font-size: 24px;
}

#four {
  background-color: hsl(120, 73%, 75%);
  font-size: 24px;
  font-weight: bold;
}
